{{ define "user" }}
<!DOCTYPE html>
<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>

<body>
	{{ template "profile" . }}
</body>

</html>
{{ end }}

{{ define "profile" }}
<div class="profile-widget w-1/4 flex flex-col items-center justify-center">
	<div class="avatar">
		<div class="w-24 rounded-full">
			<img src="{{.picture}}" />
		</div>
	</div>
	<p class="text-base font-bold">{{.nickname}}</p>
	<a class="btn-logout btn btn-primary w-full" onclick="handleLogoutClick(event)" href="/logout">Logout</a>
	<script>
		function handleLogoutClick(event) {
			event.preventDefault();
			Cookies.remove("auth-session");
			window.location.href = event.target.href;
		}
	</script>
</div>
{{ end }}
